<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido, {{ username }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Contenido del Profesor</h2>
  <h2>Tus Clases</h2>
  <ion-list>
    <ion-item *ngFor="let class of classes" lines="none">
      <div class="class-details">
        <span>{{ class.name }}</span>
        <span>{{ class.section }}</span>
      </div>
      <ion-button fill="outline" (click)="passAttendance(class)" slot="end">Pasar Asistencia</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

