<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido, {{ username }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <div class="image-container">
    <img src="assets/img/presente.png" alt="Imagen de presente" />
  </div>
  <h2>Asistencias en Analista Computacional</h2>
  <ion-list>
    <ion-item *ngFor="let class of classes" lines="none">
      <div class="class-details">
        <span>{{ class.name }}</span>
        <span>{{ class.section }}</span>
        <span>{{ class.porcentaje }}</span>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
